* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #8A4FFF;
$color-secondary: #94C5CC;


:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(./images/628c027d-4619-4f97-b427-ef5b5696a773.jpeg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    margin: 0;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 500px;
    animation-name: moveBackground;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: $color-secondary;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(128, 128, 128, 0.349);
        position: fixed;
        height: 80px;
        top: 0;
        backdrop-filter: blur(10px);
        z-index: 2;

        nav { 
            width: 300px;
            display: flex;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: #8A4FFF;
                font-weight: 600;
                transition: border-bottom 0.2s ease-in 0s;

                &:hover {
                    border-bottom: 3px solid $color-primary;




            }    
        }   



        } 
    }
}

    main {
        width: 90%;
        color: white;
        backdrop-filter: blur(2px);

        #intro {
            display: flex;
            flex-direction: column;
            

            div {
                width: 500px;
            
            }

            img {
                width: 500px;
                height: 500px;
            }
        }
    }


@keyframes moveBackground {
                    
    0% {
        background-position: 100% 0;
    }
    
    100% {
            background-position: 0 0;
            
    }

}