* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Kanit", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url(./images/628c027d-4619-4f97-b427-ef5b5696a773.jpeg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  margin: 0;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: moveBackground;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
body header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  color: #94C5CC;
  background-color: rgba(128, 128, 128, 0.349);
  position: fixed;
  height: 80px;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}
@media (min-width: 768px) {
  body header {
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1024px) {
  body header {
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
  }
}
body header nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
body header nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: border-bottom 0.2s ease-in 0s;
  border-bottom: 2px solid transparent;
}
body header nav a:hover {
  border-bottom: 3px solid white;
}
body footer {
  display: flex;
  color: #8A4FFF;
  width: 100%;
  min-height: 100px;
  background-color: rgba(128, 0, 128, 0.315);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: 2px solid rgba(0, 0, 0, 0.274);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body footer .fa-brands {
  color: #94C5CC;
  font-size: 30px;
  margin-top: 10px;
}
body footer .fa-brands:hover {
  text-shadow: #8A4FFF 0px 0px 10px;
}

main {
  width: 100%;
  color: white;
  backdrop-filter: blur(2px);
  background-color: rgba(128, 0, 128, 0.315);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (min-width: 768px) {
  main #intro {
    flex-direction: row;
    justify-content: space-between;
  }
}
main #intro div {
  width: 300px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  main #intro div {
    width: 400px;
  }
}
@media (min-width: 1100px) {
  main #intro div {
    width: 600px;
  }
}
main #intro div h1 {
  font-size: 40px;
  text-align: center;
}
main #intro div h1 span {
  color: #8A4FFF;
}
@media (min-width: 768px) {
  main #intro div h1 {
    font-size: 70px;
  }
}
main #intro div h2 {
  font-size: 20px;
  text-align: center;
  color: #94C5CC;
  text-transform: uppercase;
  animation-name: textAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media (min-width: 768px) {
  main #intro div h2 {
    font-size: 50px;
  }
}
main #intro div div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
main #intro div div h3 {
  animation-name: textAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-image: linear-gradient(#8A4FFF, #94C5CC);
  color: transparent;
  background-clip: text;
  text-shadow: white 0px 0px 10px;
}
main #intro div div h3:nth-child(1) {
  animation-delay: 0.625s;
}
main #intro div div h3:nth-child(2) {
  animation-delay: 1.25s;
}
main #intro div div h3:nth-child(3) {
  animation-delay: 1.875s;
}
main #intro div div h3:nth-child(4) {
  animation-delay: 2.5s;
}
main #intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  main #intro img {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  main #intro img {
    width: 500px;
    height: 500px;
  }
}
main #about {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  align-items: center;
}
main #about h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  main #about h1 {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  main #about h1 {
    font-size: 100px;
  }
}
main #about h1 span {
  color: #8A4FFF;
}
main #about p {
  font-size: 20px;
}
@media (min-width: 768px) {
  main #about p {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  main #about p {
    font-size: 40px;
  }
}
main #about p span {
  color: #8A4FFF;
}
main #projects {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
main #projects h1 {
  color: #8A4FFF;
  font-size: 40px;
  margin: 40px;
}
@media (min-width: 768px) {
  main #projects h1 {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  main #projects h1 {
    font-size: 100px;
  }
}
main #projects :nth-child(2) {
  color: red;
}
main #projects div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main #projects div div {
  height: 90px;
  width: 90px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: red;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: linear;
}
main #projects div div:hover {
  transform: scale(1.3) rotate(360deg);
  border: 2px solid #8A4FFF;
  color: #8A4FFF;
}
@media (min-width: 768px) {
  main #projects div div {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 1024px) {
  main #projects div div {
    height: 200px;
    width: 200px;
  }
}
main #contacts {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  main #contacts {
    font-size: larger;
  }
}
@media (min-width: 1024px) {
  main #contacts {
    font-size: x-large;
  }
}
main #contacts a {
  color: #8A4FFF;
  text-decoration: none;
}
main #contacts a:hover {
  border-bottom: 2px solid #8A4FFF;
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
