* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #8A4FFF;
$color-secondary: #94C5CC;


body {
    background-image: url(./images/628c027d-4619-4f97-b427-ef5b5696a773.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: white;
    }

}